* {box-sizing: border-box;}

/* Fairly simple slideshow
Don't use this code as any kind of example,
it's extremely hacky but at least it sort of works */
.slideshow-container {
    max-width: 400px;
    min-height: 604px;
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
  

.mySlides img {
    border-radius: 5px;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade-in-out;
    -webkit-animation-duration: 10s;
    animation-name: fade-in-out;
    animation-duration: 10s;
}
/* Slideshow transitions */
@-webkit-keyframes fade-in-out {
    0% {opacity: 0}
    10% {opacity: 1}
    90% {opacity: 1}
    100% {opacity: 0}
}
  
@keyframes fade-in-out {
    0% {opacity: 0}
    10% {opacity: 1}
    90% {opacity: 1}
    100% {opacity: 0}
}

/* Basic colors */
:root {
    --fg: white;
    --bg: #1a1a1a;
    --bg-secondary: #ccc;
    --link: #8dbcfa;
    --link-shadow: #3e5675;
}

html, body { 
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

.content {
    text-align: center;
}

a {
    color: var(--link);
    opacity: 0.8;
    transition: opacity 0.25s;
}

a:hover {
    opacity: 1;
}

.header > a {
    color: #fff;
}

.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.header > #text {
    font-size: 2.5em;
    color: #fff;
    padding-bottom: 10px;
}

.header > #subtext {
    font-family: "Clicker Script", sans-serif;
    font-size: 2.5em;
    color: #fff;
    opacity: 0.9;
    line-height: 0.8;
}

.header > #events {
    font-size: 1.25em;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.nav img {
    padding: 0px 6px;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

.flexbox > .image > #headshot {
    border-radius: 10px;
    max-height: 600px
}

.flexbox > #bio-text {
    max-width: 750px;
    padding: 0px 25px;
}