:root {
    --fg: white;
    --bg: #1f1f1f;
}

html, body { 
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Inter', sans-serif;
    margin: 0;
}

@keyframes push-in {
    from { opacity: 0; margin-top: 3%;}
    to   { opacity: 1; margin-top: 0%;}   
}

input {
    font: Inter;
}

a {
    color: #fff;
    opacity: 0.9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    transition: text-shadow 0.25s;
    transition: opacity 0.25s;
}

a:hover {
    color: #fff;
    opacity: 1;
    text-shadow: 1px 1px 3px #ccc;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background:rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px;
}

.header > .nav {
    text-align: right;
}

.header > .branding > #text {
    font-size: 1.5em;
    color: #fff;
}

.header > .branding > #subtext {
    font-size: 1em;
    color: #fff;
    opacity: 0.9;
    line-height: 0.8;
}

.header > .nav > #links > a {
    color: white;
    font-size: 0.75;    
    padding: 3px;
    text-decoration: none;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

.flexbox > .image > #headshot {
    border-radius: 10px;
    max-height: 600px;
}

.flexbox > #bio-text {
    max-width: 750px;
    padding: 20px;
}