:root {
    --fg: white;
    --bg: #1f1f1f;
    --bg-secondary: #3f3f3f;
}

html, body { 
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Inter', sans-serif;
    margin: 0;
}

@keyframes fade-in { /* currently unused, I believe */
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes btn-onhover {
    from { background-color: #3f3f3f; color: white }
    to   { background-color: lightgray; color: black }
}

input[type="textarea"] {
    font-family: 'Inter', sans-serif;
}

a {
    color: #fff;
    opacity: 0.9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    transition: text-shadow 0.25s;
    transition: opacity 0.25s;
}

a:hover {
    color: #fff;
    opacity: 1;
    text-shadow: 1px 1px 3px #ccc;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background:rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 0px 0px 10px 10px;
    padding: 5px 10px;
}

.header > .nav {
    text-align: right;
}

.header > .branding > #text {
    font-size: 1.5em;
    color: #fff;
}

.header > .branding > #subtext {
    font-size: 1em;
    color: #fff;
    opacity: 0.9;
    line-height: 0.8;
}

.header > .nav > #links > a {
    color: white;
    font-size: 0.75;    
    padding: 3px;
    text-decoration: none;
}

.bio {
    max-width: 1000px;
    animation: fade-in 0.5s;
}

.content, .form {
    padding-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.content a {
    text-decoration: underline;
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container input, textarea {
    font-family: "Inter", sans-serif
}

.header {
    padding: 5px 10px;
}

.page-name {
    font-weight: 200;
}

.nav {
    text-align: right;
    color: rgba(255, 255, 255, 0.5)
}

#name, #email, #message-box {
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1em;
}

#message-box {
    height: 250px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}


.submit {
    color: white;
    background-color: #3f3f3f;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

.submit:hover {
    background-color: lightgray;
    color: black;
    transition: color 0.5s;
    transition: background-color 0.5s;
}