html, body { 
    background-color: #1f1f1f;
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100%;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes btn-onhover {
    from { background-color: #3f3f3f; color: white }
    to   { background-color: lightgray; color: black }
}

input[type="textarea"] {
    font-family: 'Inter', sans-serif;
}

a {
    color: #fff;
    opacity: 0.9;
    transition: text-shadow 0.25s;
    transition: opacity 0.25s;
}

a:hover {
    color: #fff;
    opacity: 1;
    text-shadow: 1px 1px 3px #ccc;
}

.navbar { /* make this stick to the top of the screen*/
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    font-size: 1.25em;
}

.bio {
    max-width: 1000px;
    animation: fade-in 0.5s;
}

.content, .form {
    padding-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    animation: fade-in 0.5s;
}

.content a {
    text-decoration: underline;
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container input, textarea {
    font-family: "Inter", sans-serif
}

.header {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: 500;
}

.page-name {
    font-weight: 200;
}

.nav {
    padding-right: 10px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5)
}

#name, #email, #message-box {
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1em;
}

#message-box {
    height: 250px;
    width: 500px;
    margin-bottom: 10px;
}


.submit {
    color: white;
    background-color: #3f3f3f;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

.submit:hover {
    background-color: lightgray;
    color: black;
    transition: color 0.5s;
    transition: background-color 0.5s;
}